/* home.html */
.jumbotron {
    text-align: center;
    background-color: transparent;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.jumbotron img {
    height: 64px;
    margin-top: -20px;
}

h1 { border-bottom:1px solid #999; color:#444; }
#wrap > .container { padding:0; }
.container { position:relative; overflow:hidden; }
.left { float:left; }
.right { float:right; width:40%;  }
textarea#returnVal { width:100%; height:400px; }
textarea#jwt { width:100%; height:140px; }
