{% extends "base.html" %}

{% block content %}
  <a href="/admin/" target="_blank"><b>Djangoadmin (admin:alpha)</b></a>
  <ul>
    <li><a href="api/login?username=b&email=bailey.robert.a@gmail.com" target="_blank">Login</a></li>
    <li><a href="api/logout" target="_blank">Logout</a></li>
    <li><a href="api/getUsers/" target="_blank">api/getUsers</a></li>
    <li><a href="api/getCallSummary/" target="_blank">api/getCallSummary</a></li>
    <li><a href="api/getActionItems/" target="_blank">api/getActionItems</a></li>
    <li><a href="api/getActionItems/?is_complete=True" target="_blank">api/getActionItems/?is_complete=True</a></li>
    <li><a href="api/getActionItems/?is_complete=False" target="_blank">api/getActionItems/?is_complete=False</a></li>
    <li>

    <form method="post" action="api/createActionItem" class="inline" target="_blank">
      <input type="hidden" name="rep_id" value="3">
      <input type="hidden" name="description" value="description">
      <input type="hidden" name="due_date" value="01/01/1970">
      <button type="submit" name="submit_param" value="submit_value" class="link-button">
        api/createActionItem (post)
      </button>
    </form>

    </li>
    <li><a href="api/resolveActionItem/1" target="_blank">api/resolveActionItem/1</a></li>
    <li><a href="api/getTickets/dateRange=2017-09-10,2017-09-15/status=pending,open" target="_blank">api/getTickets/dateRange=2017-09-10,2017-09-15/status=pending,open</a></li>
    <li><a href="api/getTicketDetailByID/1" target="_blank">api/getTicketDetailByID/1</a></li>
    <li><a href="api/getCustomerByID/1" target="_blank">api/getCustomer/1</a></li>
    <li>
      <form method="post" action="api/addTicket" class="inline" target="_blank">
        <input type="hidden" name="customer_id" value="1">
        <input type="hidden" name="contact_name" value="Dr. Something">
        <input type="hidden" name="contact_phone" value="111-111-1111">
        <input type="hidden" name="subject" value="subject stuff here">
        <input type="hidden" name="details" value="details stuff here">
        <button type="submit" name="submit_param" value="submit_value" class="link-button">
          api/addTicket (post)
        </button>
      </form>
    </li>
    <li><a href="api/updateTicketStatus/1/resolved" target="_blank">api/updateTicketStatus/1/resolved</a></li>
    <li>
      <form method="post" action="api/addNoteToTicket" class="inline" target="_blank">
        <input type="hidden" name="note_text" value="note text here">
        <input type="hidden" name="ticket_id" value="1">
        <button type="submit" name="submit_param" value="submit_value" class="link-button">
          api/addNoteToTicket/ (post)
        </button>
      </form>
    </li>
  </ul>
{% endblock content %}
